<html>
  <head>
    <title>New Branch Title</title>
    <link rel="stylesheet" type="text/css" href="<%= url("/css/styles.css")%>"/>
  </head>
  <body>
    <!-- <div class="page"> -->
      <% if @user.nil? %>
      <form action="/login">
				<label class="sr-only" for="login/register"> Login or Register</label>
        <input type="submit" value ="Login / Register" name="login/register"/>
      </form>
      <% end %>

      <% if @user %>
      <form action="/logout" >
				<label class="sr-only" for="logout"> Logout</label>
        <input type="submit" value ="Logout" name="logout"/>
      </form>
      <% end %>

        
        <div class="properties_page">
          <div class="header container">
          <div class="header text">
            <h1 class="title">Find Properties</h1>
          </div>
          <div class="header button">
            <% if @user %>
            <form action="/add" class="add-form">
							<label class="sr-only" for="add">Add</label>
              <input type="submit" value="Add" name="add">
            </form>
            <% end %>
          </div>
        </div>
        <% @properties.each do |property| %>
          <div class="property-container" id="<%= property.id %>">
            <div class=""> <%= property.name %></div>
            <div class="">£<%= property.price %> </div>
            <div class=""><%= property.description %></div>
            <% if @user %>
            <form action='request-book/<%=property.id%>'>
							<label class="sr-only" for="book">Book</label>
              <input type="submit" value="book" name="book">
            </form>
            <% end %>
          </div>
        <% end %>
        <div> 
      </div>
    <!-- </div> -->
  </body>
</html>
